*{
    outline: none;
    font-family: 'Times New Roman', Times, serif;
}

div {
    display: flex;
    justify-content: center;
  }

.searchbox{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#input{
    width: 80%;
    font-size: 20px;
    padding: 12px 16px;
}
.btn{
    width: 10%;
    height: 50px;
}
.btn :hover{
    background-color: rgb(130, 114, 114);
}
.weatherdisplay{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.description{
    margin-block: 20px;
    text-align: center;
    font-size: 25px;
}
.temp{
    font-size: 80px;
}
